@import "~vuesax/dist/vuesax.css";
@import "~material-icons/iconfont/material-icons.scss";
@import "~vue-datetime/dist/vue-datetime.css";

@import "variable";
@import "./layout/layout";
@import "./layout/custom";

@import "base/reset.scss";
@import "page/index.scss";
@import "module/index.scss";
@import "state/index.scss";

@import "../../../../../../../../resources/js/badaso/scss/custom.scss";