parameters: 
    ignoreErrors:
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\Role::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\User::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Spatie\\Activitylog\\Models\\Activity::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\DataType::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Facades\\Badaso::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\DataRow::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\MenuItem::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined method Uasoft\\Badaso\\Models\\MenuItem::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\Configuration::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\FirebaseCloudMessages::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\Menu::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\Permission::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\Notification::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\RolePermission::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Models\\UserRole::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Uasoft\\Badaso\\Database\\Schema\\SchemaManager::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Illuminate\\Support\\Facades\\DB::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined static method Illuminate\\Support\\Facades\\Redis::[a-zA-Z0-9-()\_]+.#'
    - '#Class App\\Http\\Controllers\\Controller not found.#'
    - '#Parameter \$test_case of method Uasoft\\Badaso\\Helpers\\CallHelperTest::[a-zA-Z0-9-()\_]+ has invalid type Tests\\TestCase.#'
    - '#Call to static method [a-zA-Z0-9-()\_]+ on an unknown class Route.#'
    - '#Result of method [a-zA-Z0-9\\_]+::[a-zA-Z0-9-()\_]+ [a-zA-Z0-9-()\_]+ is used.#'
    - '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9-()\_]+ should return int but return statement is missing.#'
    - '#Call to sprintf contains 1 placeholder, 0 values given.#'
    - '#Call to static method debug[()]+ on an unknown class Log.#'
    - '#Call to static method first[()]+ on an unknown class Uasoft\\Badaso\\Models\\FirebaseServices.#'
    - '#Call to static method user[()]+ on an unknown class JWTAuth.#'
    - '#Function call_protected_method not found.#'
    - '#Function get_protected_property not found.#'
    - '#Variable \$data in isset[()]+ always exists and is not nullable.#'
    - '#Access to an undefined property Uasoft\\Badaso\\Models\\MenuItem::\$[a-zA-Z0-9-()\_]+.#'
    - '#Call to static method [a-zA-Z0-9-()\_]+ on an unknown class DB.#'
    - '#Instantiated class Database\\Seeders\\Badaso\\Exception not found.#'
    - '#Caught class Database\\Seeders\\Badaso\\Exception not found.#'
    - '#Call to static method disk[()]+ on an unknown class Storage.#'
    - '#Variable \$altered_current_fields might not be defined.#'
    - '#Variable \$altered_modified_fields might not be defined.#'

   