parameters: 
    excludePaths:
    - src/Config/sanctum.php

    ignoreErrors:
    - '#Call to an undefined static method [a-zA-Z0-9-()\\_]+::[a-zA-Z0-9-()\_]+.#'
    - '#Call to an undefined method [a-zA-Z0-9-()\\_]+::[a-zA-Z0-9-()\_]+.#'
    - '#Call to static method [a-zA-Z0-9-()\_]+ on an unknown class [a-zA-Z0-9-()\_]+.#'
    - '#Result of method [a-zA-Z0-9\\_]+::[a-zA-Z0-9-()\_]+ [a-zA-Z0-9-()\_]+ is used.#'
    - '#Result of static method [a-zA-Z0-9\\_]+::[a-zA-Z0-9-()\_]+ [a-zA-Z0-9-()\_]+ is used.#'
    - '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9-()\_]+ should return int but return statement is missing.#'
    - '#Call to sprintf contains 1 placeholder, 0 values given.#'
    - '#Function [a-zA-Z0-9-()\_]+ not found.#'
    - '#Variable \$[a-zA-Z0-9-()\_]+ in isset[()]+ always exists and is not nullable.#'
    - '#Access to an undefined property Uasoft\\Badaso\\Models\\MenuItem::\$[a-zA-Z0-9-()\_]+.#'
    - '#Instantiated class Database\\Seeders\\Badaso\\Exception not found.#'
    - '#Caught class [a-zA-Z0-9-()\\_]+ not found.#'
    - '#Variable \$[a-zA-Z0-9\\_]+ might not be defined.#'