*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.45;
  color: #2b2b2b;
  text-align: left;
  background-color: #f0f5f9;
}
