.badaso-dropdown {
  &__container {
    position: relative;
    display: inline-block;
    border: 0;
    background: transparent;
    cursor: pointer;

    & * {
      pointer-events: none;
    }
  }
}
