.badaso-alert {
  &__body {
    background-color: #f3f5f7;
    border-color: var($danger);
    border-left-width: .2rem;
    border-left-style: solid;
    margin: -15px -15px 0 -15px;
  }

  &__title {
    font-weight: bold;
    margin-bottom: -.4rem;
    color: $danger;
  }

  &__description, &__title {
    width: 100%;
    padding: 10px 20px;
    background: transparent!important;
    margin-top: 0;
    border-radius: 10px;
  }
}