.badaso-radio {
  &__label {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 5px;
  }

  &__container {
    margin-bottom: 1rem !important;
  }

  &__input {
    &--error {
      color: $danger;
      display: block;
    }
  }
}
