.badaso-unauthorize {
  &__button {
    text-align: center;
  }

  &__container {
    z-index: 26000;
  }

  &__message {
    text-align: center;
    margin: 8px 0;
  }

  &__title {
    text-align: center;
    margin: 8px 0;
  }
}
