.site-management {
  &__container {
    padding-top: 20px;
  }
}

.vs-tabs--btn {
  font-size: 1.25rem;
  margin-bottom: 0px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
}
.config-key {
  font-size: 1rem;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 1.2;
}
.inputx {
  margin-top: 5px;
}