.main-container-fluid {
	padding: 90px 15px 0px 15px;

}

@include media-breakpoint-up(md) {
	.main-container-fluid {
		transition: all .25s ease;
		margin-left: 260px;
	}

	.main-wrapper-mini {
		.main-container-fluid {
			transition: all .25s ease;
			margin-left: 60px;
		}
	}
}