.vs-card--content {
  .vs-breadcrumb--ol {
    margin-bottom: 0;
  }
}

.vs-input {
  width: 100%;
}

.con-vs-dialog .vs-dialog footer {
  padding: 10px;
}

.topnavbar {
  z-index: 401;
}

.td-check {
  width: 50px;
}

.con-td-check {
  box-shadow: none !important;
}

.vs-table--search {
  margin-left: 15px !important;
}

.vs-select--options {
  z-index: 21000;
}

.topnavbar {
  z-index: 25000;
}

.vs-sidebar-group h4 {
  padding-left: 15px;
}

.vs-table--content::-webkit-scrollbar-track {
  background-color: transparent;
}

.vs-table--content::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.vs-table--content::-webkit-scrollbar-thumb {
  background-color: $scoll-color;
  border-radius: 20px;
}

.vs-table--content::-webkit-scrollbar-thumb:hover {
  background-color: $scoll-hover-color;
}

.vs-col::-webkit-scrollbar-track {
  background-color: transparent;
}

.vs-col::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.vs-col::-webkit-scrollbar-thumb {
  background-color: $scoll-color;
  border-radius: 20px;
}

.vs-col::-webkit-scrollbar-thumb:hover {
  background-color: $scoll-hover-color;
}

.vdatetime-input {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.datetime-box {
  display: flex;
}
.datetime-input {
  width: -webkit-fill-available;
}
.datetime-icon {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: unset;
}

.con-vs-slider {
  min-width: unset;
}

.themelogo {
  img {
    height: 30px;
  }
}

.hide-for-mobile {
  display: flex !important;
  @media only screen and (max-width: 768px) {
    display: none !important;
  }
}

.show-for-mobile {
  display: none !important;
  @media only screen and (max-width: 768px) {
    display: flex !important;
  }
}
.header-sidebar {
  .vs-sidebar-group {
    ul {
      margin-bottom: 0;
    }
  }

  .vs-sidebar-group.vs-sidebar-group-open {
    >ul {
      .vs-sidebar--item {
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }  
}

.vs-sidebar-group.vs-sidebar-group-open {
	>div {
		>h4 {
			>.vs-icon {
				-webkit-transform: rotate( 180deg );
				transform: rotate( 180deg );
			}
		}
	}
}

.vs-sidebar--items::-webkit-scrollbar-thumb {
  background-color: $scoll-color;
}
.vs-sidebar--items::-webkit-scrollbar-thumb:hover {
  background-color: $scoll-hover-color;
}
.vs-sidebar {
  background: $sidebar-bg;
}

.con-vs-card {
  background: $card-bg;
}

.vs-con-table {
  background: $card-bg;
}

.vs-table--tbody-table tr {
  background: $card-bg;
}

.vs-pagination--ul {
  background: unset;
}

.footer{
  width: calc(100% + 35px);
  background-color: $footer-bg;
  padding: 15px;
  text-align: right;
  z-index: 100000;
  margin-left: -20px;
  display: flex;
  justify-content: space-between;
}