.vs-card--content {

    .vs-breadcrumb--ol {
        margin-bottom: 0;
    }
}

.vs-input {
    width: 100%;
}

.con-vs-dialog .vs-dialog footer {
    padding: 10px;
}

.topnavbar {
    z-index: 401;
}

.td-check {
    width: 50px;
}

.con-td-check {
    box-shadow: none !important;
}

.vs-table--search {
    margin-left: 15px !important;
}

.vs-select--options {
    z-index: 300;
}