.vs-card--content {

    .vs-breadcrumb--ol {
        margin-bottom: 0;
    }
}

.vs-input {
    width: 100%;
}

.con-vs-dialog .vs-dialog footer {
    padding: 10px;
}

.topnavbar {
    z-index: 401;
}