.forgot-password {
  &__input {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;

    &--error {
      color: $danger;
      display: block;
    }
  }

  &__error-container {
    margin-bottom: 1rem !important;
  }

  &__button {
    display: block;
    width: 100%;
  }

  &__title {
    margin-bottom: 0.5rem !important;
  }
}
