.reset-password {
  &__input {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;

    &--error {
      color: $danger;
      display: block;
    }
  }

  &__button {
    display: block;
    width: 100%;
  }
}
