name: Tests

on:
  push:
    branches:
      - 'master'
  pull_request:
    types:
      - synchronize
      - opened
      - edited
      - reopened

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        php: [8.0]
        laravel: ['8.*']
        laravel-require: ['8.0']

    name: 'PHP ${{ matrix.php }} / Laravel ${{ matrix.laravel }}'

    steps:
      - uses: actions/checkout@master

      # Configure PHP
      - name: Select PHP version
        uses: shivammathur/setup-php@master
        with:
          php-version: '${{ matrix.php }}'
          extensions: mbstring, pdo_sqlite, fileinfo, gd
          coverage: none

      # Install legacy factories for Laravel 8/9
      - name: Install legacy factories for Laravel
        run: composer create-project laravel/laravel:^${{matrix.laravel-require}} laravel

      # Display installed laravel version
      - name: Show laravel version
        run: cd laravel && 
          composer show laravel/framework

      # Laravel configuration
      - name: Laravel file configuration
        run: cd laravel && 
          touch database/database.sqlite &&
          sed -i 's/DB_CONNECTION=mysql/DB_CONNECTION=sqlite/g' .env &&
          sed -i 's/DB_DATABASE=laravel/DB_DATABASE=database\/database.sqlite/g' .env
          
      # Laravel require badaso core
      - name: Laravel file configuration
        run: ls -l &&
          git branch &&
          cd laravel &&
          composer require uasoft-indonesia/badaso:dev-${GITHUB_HEAD_REF}
      
      # Laravel setup
      - name: Laravel setup 
        run: cd laravel &&
          php artisan badaso:setup --force &&
          php artisan badaso-test:setup &&
          cat webpack.mix.js &&
          php artisan db:wipe && 
          php artisan migrate && 
          php artisan db:seed --class="Database\Seeders\Badaso\BadasoSeeder" && 
          ls vendor/badaso &&
          php artisan test
